@import "tailwindcss";

/* globals.css or styles/primereact-theme.css */
@import "primereact/resources/themes/lara-light-blue/theme.css"; 
@import "primereact/resources/primereact.min.css";                
@import "primeicons/primeicons.css";                              

:root {
  /* --background: #171717; */
  --foreground: #ffffff;
}

@theme {
  --color-customColor: oklch(62.7% 0.265 303.9);
  --color-customColorDark: oklch(43.8% 0.218 303.724);
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-raleway: var(--font-raleway)
  --font-poppins:var(--font-poppins)
}
.btn-gradient {
  @apply px-6 py-2 rounded-md bg-gradient-to-r from-purple-500 to-pink-500 text-white font-semibold hover:opacity-90 transition duration-300 cursor-pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins , Arial, Helvetica, sans-serif);
  /* , Arial, Helvetica, sans-serif */  
}


/* scroll bar color */
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #a855f7, #9333ea); 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #9333ea, #7e22ce);
}