.typing-text {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.blinking-cursor {
  animation: blink 0.7s infinite;
  color: white;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
